Repository chat-du-cheshire/ng-material-test: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feature: add material
  angular.json
  package-lock.json
  package.json
  src/app/app.module.ts
  src/index.html
  src/styles.scss
Due: eslint --fix, prettier --write

refactor: move folders upper
  src/app/api/employees.api.ts
  src/app/api/timings.api.ts
  src/app/app.component.ts
  src/app/types/dto.ts
Due: eslint --fix

refactor: storage for data
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/classes/storage.ts
  src/app/services/app.service.ts
  src/app/services/state.service.ts
Due: eslint --fix, prettier --write

feature: employee meta class
  src/app/app.component.ts
  src/app/classes/employee-meta.ts
  src/app/classes/storage.ts
  src/app/utils/constants.ts
  src/app/utils/helpers.ts
Due: eslint --fix

fix: employee meta bugs
  src/app/classes/employee-meta.ts
Due: eslint --fix

feature: dashboard stats
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/modules/dashboard/components/dashboard/dashboard.component.html
  src/app/modules/dashboard/components/dashboard/dashboard.component.scss
  src/app/modules/dashboard/components/dashboard/dashboard.component.ts
  src/app/modules/dashboard/dashboard.module.ts
  src/app/modules/dashboard/pipes/sec-to-time.pipe.ts
  src/app/modules/fake-server/constants.ts
  src/app/modules/fake-server/fake-server.interceptor.ts
Due: eslint --fix, prettier --write

fix: lint
  package-lock.json
  package.json
  src/app/api/employees.api.ts
  src/app/api/timings.api.ts
  src/app/app.component.spec.ts
  src/app/classes/employee-meta.ts
  src/app/classes/storage.ts
  src/app/modules/dashboard/dashboard.module.ts
  src/app/modules/dashboard/pipes/sec-to-time.pipe.ts
  src/app/types/dto.ts
  src/main.ts
Due: eslint --fix

feature: employees table
  src/app/modules/dashboard/components/dashboard/dashboard.component.html
  src/app/modules/dashboard/components/dashboard/dashboard.component.scss
  src/app/modules/dashboard/components/dashboard/dashboard.component.ts
  src/app/modules/dashboard/dashboard.module.ts
Due: eslint --fix, prettier --write

feature: selection for rows
  src/app/modules/dashboard/components/dashboard/dashboard.component.html
  src/app/modules/dashboard/components/dashboard/dashboard.component.ts
  src/app/modules/dashboard/dashboard.module.ts
Due: eslint --fix, prettier --write

feature: bulk edit event
  src/app/modules/dashboard/components/dashboard/dashboard.component.html
  src/app/modules/dashboard/components/dashboard/dashboard.component.scss
  src/app/modules/dashboard/dashboard.module.ts
Due: eslint --fix, prettier --write

feature: open dialog
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/modules/bulk-edit/bulk-edit.module.ts
  src/app/modules/bulk-edit/components/bulk-edit-dialog/bulk-edit-dialog.component.html
  src/app/modules/bulk-edit/components/bulk-edit-dialog/bulk-edit-dialog.component.scss
  src/app/modules/bulk-edit/components/bulk-edit-dialog/bulk-edit-dialog.component.ts
  src/app/modules/dashboard/components/dashboard/dashboard.component.ts
  src/app/modules/dashboard/models/employee-meta.ts
  src/app/services/app.service.ts
Due: eslint --fix, prettier --write

feature: bulk edit form class
  src/app/modules/bulk-edit/classes/bulk-edit-form.ts
  src/app/modules/bulk-edit/types/types.ts
Due: eslint --fix

feature: bulk edit form employee
  src/app/modules/bulk-edit/bulk-edit.module.ts
  src/app/modules/bulk-edit/components/bulk-edit-dialog/bulk-edit-dialog.component.html
  src/app/modules/bulk-edit/components/bulk-edit-dialog/bulk-edit-dialog.component.ts
  src/app/modules/bulk-edit/components/edit-employee/edit-employee.component.html
  src/app/modules/bulk-edit/components/edit-employee/edit-employee.component.scss
  src/app/modules/bulk-edit/components/edit-employee/edit-employee.component.ts
  src/app/modules/bulk-edit/types/types.ts
  src/app/services/app.service.ts
Due: eslint --fix, prettier --write

feature: lint
  package-lock.json
  package.json
  src/app/modules/bulk-edit/types/types.ts
  src/app/modules/dashboard/components/dashboard/dashboard.component.ts
  src/app/modules/fake-server/fake-server.interceptor.ts
  src/app/services/app.service.ts
Due: eslint --fix

feature: timings form
  package-lock.json
  package.json
  src/app/modules/bulk-edit/bulk-edit.module.ts
  src/app/modules/bulk-edit/classes/bulk-edit-form.ts
  src/app/modules/bulk-edit/components/bulk-edit-dialog/bulk-edit-dialog.component.html
  src/app/modules/bulk-edit/components/edit-employee/edit-employee.component.html
  src/app/modules/bulk-edit/components/edit-employee/edit-employee.component.ts
  src/app/modules/bulk-edit/components/edit-timings/edit-timings.component.html
  src/app/modules/bulk-edit/components/edit-timings/edit-timings.component.scss
  src/app/modules/bulk-edit/components/edit-timings/edit-timings.component.ts
  src/app/modules/bulk-edit/types/types.ts
Due: eslint --fix, prettier --write

feature: update form values
  src/app/classes/storage.ts
  src/app/modules/bulk-edit/bulk-edit.module.ts
  src/app/modules/bulk-edit/classes/bulk-edit-form.ts
  src/app/modules/bulk-edit/components/bulk-edit-dialog/bulk-edit-dialog.component.html
  src/app/modules/bulk-edit/components/bulk-edit-dialog/bulk-edit-dialog.component.ts
  src/app/modules/bulk-edit/components/edit-employee/edit-employee.component.html
  src/app/services/app.service.ts
  src/app/services/state.service.ts
Due: eslint --fix, prettier --write

feature: fix store update
  src/app/modules/bulk-edit/components/edit-employee/edit-employee.component.html
  src/app/modules/dashboard/models/employee-meta.ts
  src/app/services/app.service.ts
  src/app/services/state.service.ts
Due: eslint --fix, prettier --write

fix: markup & condole log
  src/app/modules/bulk-edit/components/bulk-edit-dialog/bulk-edit-dialog.component.html
  src/app/modules/bulk-edit/components/bulk-edit-dialog/bulk-edit-dialog.component.scss
  src/app/modules/dashboard/models/employee-meta.ts
  src/app/services/app.service.ts
  src/app/services/state.service.ts
Due: eslint --fix, prettier --write

fix: add some validators
  src/app/modules/bulk-edit/classes/bulk-edit-form.ts
Due: eslint --fix

fix: some commit
  .lintstagedrc.json
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.{ts,js}
  prettier --write: any of: src/**/*.{md,json,html}
